body {
  
  
    background: rgb(0,128,0)  ; 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: Lato;
}

header {
   background: rgb(58,135,173);
   width: 100%; 
   height: 60px;
   position: fixed;
   z-index: 200;
   vertical-align: top;
   margin: 0;
}

button {
    background: rgb(0,137,236);
    color: rgb(232,232,232);
    height: 40px;
    margin:  10px;
    border-radius: 5px;
    padding: 10px;
}




input {
    background: rgb(153,205,255);
    box-shadow: 0;
    color: black;

}

input:focus {
    background: rgb(232,232,232);

}

[placeholder] {
    font-family: Lato;
    text-align: center;
    
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:  black;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:  black;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:  black;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:  black;
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.5s 0.5s ease; 
  opacity: 0;
}

.header_container {
    width: 1020px;
    margin: 0 auto;
    height: 100%;

}
.header_title {
    color: rgb(232,232,232);
    display: inline-block;
    padding: 0 20px 0 0px;
    height: 60px;
    border-right: 1px solid white;
    margin: 0;
    font-family: Raleway;
    font-size: 40px;
    vertical-align: middle;
    line-height: 60px;
}

.header_text {
    color: rgb(232,232,232);
    display: inline-block;
    padding: 0 20px;
    height: 60px;
    border-right: 1px solid white;
    margin: 0;
    margin-left: -4px;
    font-family: Raleway;
    font-size: 20px;
    vertical-align: middle;
    line-height: 60px;
}


.header_text:hover{
    background: rgb(153,205,255);
}

a {
    color: rgb(46,164,206);
    margin: 0;
}

.container {
    margin: 70px auto 50px;
    width: 1035px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background: rgba(248, 247, 247, 0.95);
    border-radius: 6px;
    padding: 60px;


}

.calendar_container {
    width: 790px;
    display: inline-block;
}

.daily_container {
    width: 235px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-left: 5px;
}
.daily_container_today {
    width: 235px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-left: 5px;
}

.daily_container_today h2 {
    margin-top: 50px;
}

.daily_container_today h3 {
    margin: 0;
    margin-top: 40px;
    padding: 0;

}
.daily_container_today h5 {
    margin: 0;
    padding: 0;

}
.daily_container_tomorrow {
    width: 235px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-left: 5px;
}

.daily_container_tomorrow h2 {
    margin-top: 50px;
}

.daily_container_tomorrow h3 {
    margin: 0;
    margin-top: 40px;
    padding: 0;

}
.daily_container_tomorrow h5 {
    margin: 0;
    padding: 0;

}

.underline_border {
    margin-top: 20px;
    border-bottom: 1px solid black;
}



.input_container {
    vertical-align: top;
    width: 500px;
    display: inline-block;
    height: 590px
    }

.input_container h2 {
    margin: 0 auto;
    text-align: center;
    font-family: Lato;
}

.button_container_input{
    width: 364px;
    margin: 0 auto;
}

.button_container {
    width: 300px;
    margin: 0 auto;
}
.button_container_edit {
    width: 195px;
    margin: 0 auto;
}

.border_container {
    width: 450px;
    height: 90px;
    margin: 5px auto 0;
    
}

.trip_time {
    width: 400px;
    margin: 10px auto;
    text-align: center;

}

.time_to_leave {
    width: 400px;
    margin: 10px auto;
    text-align: center;
}


.event_name {
    width: 90%;
    margin: 5px auto 30px;
    display: block;
    height: 40px;
    font-size: 20px;
    text-align: center;
}


.date_input_wrapper {
    display: block;
    margin: 0 auto 30px;
    width: 348px;
}

.date_input_wrapper input{
    width: 150px;
    height: 20px;
    font-size: 14px;
    margin-right: 15px;
}

.location_origin {
    width: 240px;
    display: inline-block;
    border-right: 1px solid rgb(173,173,173);
    padding-right: 2px;
}

.location_title {
    text-align: center;
    margin: 0;
}

.location_origin input {
    height: 20px;
    font-size: 14px;
    width: 200px;
    margin: 15px auto;
    display: block;
}

.location {
    width: 240px;
    display: inline-block;
}

.location input {
    height: 20px;
    font-size: 14px;
    width: 200px;
    margin: 15px auto;
    display: block;
}

.map_container {
    display: inline-block;
    width: 500px;
    overflow:scroll;
    height: 590px;
}

#map {
    width: 490px; 
    height: 400px;
    margin: 0 auto;
}

#panel {
     width: 490px;
     margin: 0 auto;
     background: #eee
}

footer {
    background: rgb(58,135,173);
   width: 100%; 
   height: 50px;
   z-index: 200;
   vertical-align: bottom;
   margin: 0;
}

.footer_container {
     width: 1020px;
    margin: 0 auto;
    height: 100%;
}

footer h3 {
    margin: 0;
    padding: 0;
    font-family: Raleway;
    font-size: 13px;
    color: white;
    line-height: 50px;
    margin-left: 10px;

}
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
